<p style="color: green"><%= notice %></p>

<h1>Records</h1>

<div id="records" class = "container">
    <div class="col-md-5">
  <table class="table">
      <thead class="thead-dark">
          <th scope="col">
            <%= button_to "Start +", Record, method: :new, class:'btn btn-success' %>
        </th>
      </thead>
          <% @records.each do |record| %>
              <%= render record %>
          <% end %>
  </table>

    </div>
</div>

