<p style="color: green"><%= notice %></p>

<h1>Records</h1>

<div id="records" class = "container-fluid">
  <% @records.each do |record| %>
    <%= render record %>
  <% end %>
  <br>
  <%= button_to "Start +", Record, method: :new, class:'btn btn-success' %>

</div>

