<p style="color: green"><%= notice %></p>

<h1>Records</h1>

<div id="records">
  <% @records.each do |record| %>
    <%= render record %>
    <p>
      <%= link_to "Show this record", record %>
    </p>
  <% end %>
</div>

<button type = "button" class = "btn btn-success">
  Start
</button>

<button type = "button" class = "btn btn-danger">
  Stop
</button>

<%= link_to "New record", new_record_path %>
