  <div class="flex-container border border-project">
    <div class="row project_header">
      <div class="row">
          <strong>Title:</strong>
          <%= project.title %>
      </div>
      <div class="row">
          <strong>Description:</strong>
          <%= project.description %>
      </div>
    </div>

    <div class="row">
      <table class="table">
      <% @records.each do |record| %>
        <%= render record %>
      <% end %>
      </table>
    </div>
  </div>
