<h1>Projects/Index</h1>
<%= link_to "New project", new_project_path %>
<div id="projects" class="container">
  <div class="row">
  <% @projects.each do |project| %>
    <div class="container col-md-5">
      <%= render project %>
    </div>
  <% end %>
  </div>
</div>

